<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>All Achievements</title>
</head>

<body>
    <div class="container">
               My Achievements
    </div>

    <%- include('./partials/script') %>
</body>

</html>