<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Reset Password</title>
</head>

<body>

    <div class="container mt-4">
        <form action="/user/reset-password" method="post">
            <div class="mb-3">
                <% if (locals.success) { %>
                    <div class="alert alert-success" role="alert">
                        <%= locals.success %>
                    </div>
                    <% } %>
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                <% if (locals.error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= locals.error %>
                    </div>
                    <% } %>
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </form>
    </div>

    <%- include('./partials/script') %>
</body>

</html>