<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Signup</title>
</head>

<body>
    <div class="container">

        <form action="/signup" method="post" enctype="application/x-www-form-urlencoded">
            <div class="mb-3">

                <label for="firstName" class="form-label">Name</label>
                <input type="text" class="mb-2 form-control" id="firstName" name="firstName" placeholder=" First Name">
                <input type="text" class="mb-2 form-control" id="middleName" name="middleName"
                    placeholder="Middle Name">
                <input type="text" class="mb-2 form-control" id="lastName" name="lastName" placeholder=" Last Name">

                <label for="maheID" class="form-label mt-3">MAHEID</label>
                <input type="text" class="form-control" id="maheID" name="maheID" placeholder="mahe id">

                <label for="email" class="form-label mt-3">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">

                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                    placeholder="Confirm Password">
            </div>
            <div class="mb-3">
                <% if (locals.error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= locals.error %>
                    </div>
                    <% } %>

            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

    </div>
    <%- include('./partials/script') %>
</body>

</html>